* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.head {
    background: #E554731A;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;

}

.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;


}

.main-title {
    color: #272727;
    font-weight: 700;
    font-family: Lato;
    font-size: 51px;
    padding-bottom: 17px;
}

.first-paragraph {
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 17px;
}

.btn button {
    background: #E55473;
    color: white;
    padding: 17px 23px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* Main section/feauterd section */
.featured {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 4rem;
}

.featured-text {
    text-align: center;

}

.featured-text h2 {
    color: #272727;
    font-size: 30px;
    margin-bottom: 5px;
}

.featured-text p {
    color: rgba(39, 39, 39, 0.60);
}

.featured-image {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    background: white;
    margin-bottom: 20px;
}

.featured-image img {
    width: 100%;

}


.titles {
    color: #272727;
    font-weight: 700;
    font-family: Lato;
    font-size: 30px;
    padding-bottom: 17px;
}

.para {

    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 17px;


}

.main-discount {
    background: #E554731A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18rem;
    padding-right: 15rem;
    padding-bottom: 50px;
    padding-top: 50px;

    margin-top: 100px;
    text-align: center;

}

.cat-text {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;

}

.input-main {

    background-image: url("Flower\ Asset/Rectangle 9.png");
    margin-top: 100px;
    padding: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 155px;
    margin-right: 155px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;

}

.input-head {
    margin-bottom: 20px;
}

.input-head p {
    padding: 10px;
}

.form input[type=text] {
    display: inline;
    padding: 15px 50px;
    border: none;
    background: white;
    border-radius: 5px;
    width: 45%;

}

.form input[type=button] {
    background: #E55473;
    color: white;
    padding: 12px 15px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
}

.fut {
    background-color: black;
    margin-top: 100px;
    padding: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    color: white;
}

.futtin p {
    padding: 15px;

}

.sm {
    color: #272727;
}

.span {
    color: #E55473;
}

/* bonus iteam */
.bonus {
    display: flex;
    gap: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: center;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}